.dark-mode {
  background-color: $color-midnight;
  transition: all 200ms ease-in-out;

  .search__form,
  .detail,
  .title,
  .footer,
  .modal__form,
  .job-card {
    background-color: $color-very-dark-blue;
    transition: all 200ms ease-in-out;
  }
  .check-box {
    background-color: rgba(255, 255, 255, 0.205);
  }

  h1,
  h2,
  h3,
  h4 {
    color: $color-white;
    transition: all 200ms ease-in-out;
  }

  p {
    // color: $color-gray;
    transition: all 200ms ease-in-out;
  }

  label {
    color: $color-white;
    transition: all 200ms ease-in-out;
  }

  .vertical-line {
    background-color: $color-dark-gray;
    transition: all 200ms ease-in-out;
  }
  .modal__search__form__input,
  .search__form__input {
    color: $color-white;
    transition: all 200ms ease-in-out;
  }
}
