.heading {
  font-weight: 700;
  &-1 {
    font-size: 1.75rem;
    line-height: 2.13rem;
  }
  &-2 {
    font-size: 1.5rem;
    line-height: 1.81rem;
  }
  &-3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  &-4 {
    font-size: 0.86rem;
    line-height: 1rem;
  }
}

.paragraph {
  @include text-color($color: $color-dark-gray);
}

.font-w-bold {
  font-weight: 700;
}
