// text colors

.text-color-violet {
  @include text-color($color: $color-violet);
}

.text-color-dark-gray {
  @include text-color($color: $color-dark-gray);
}

.text-color-placeholder {
  @include text-color($color: $color-very-dark-blue);
}

// margin
.m-top-a {
  margin-top: auto;
}

.m-top--75 {
  margin-top: 0.4rem;
}

.m-top-2-5 {
  margin-top: 2.5rem;
}

.m-left-1 {
  margin-left: 1rem;
}

.m-top-1-75 {
  margin-top: 1.75rem;
}
.m-top-1-44 {
  margin-top: 1.44rem;
}

.m-top-0--5 {
  margin-top: 0.5rem;
}

.m-top-a {
  margin-top: auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.d-n {
  display: none !important;
}

.flex-space-between {
  @include flex-center-space-between;
}
