// Primary Colors

$color-violet: #5964e0;
$color-light-violet: #939bf4;
$color-very-dark-blue: #19202d;
$color-midnight: #121721;

// Secondary Colors
$color-white: #ffffff;
$color-light-gray: #f4f6f8;
$color-gray: #9daec2;
$color-dark-gray: #6e8098;
$color-very-light-violect: #c5c9f4;
$color-very-very-light-violect: #eeeffc;

$color-body-bgc: #f2f2f2;
