@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;

  @media only screen and (max-width: 85.5em) {
    font-size: 95%;
  }
  @media only screen and (max-width: 73.75em) {
  }
  @media only screen and (max-width: 58.75em) {
    font-size: 85%;
  }
}

body {
  @include body-typography;
}

.main {
  min-height: 100%;
  display: grid;
  // align-content: center;
  justify-content: center;
  @media only screen and (max-width: 40.875em) {
    margin: 0 1rem;
  }

  &__home {
    gap: 4.06rem;
  }

  &__detail {
    gap: 2rem;
  }
}
