.footer {
  margin-top: 5rem;
  height: 6rem;
  background-color: $color-white;

  @include flex-center;

  &-box {
    padding: 0 1.44rem;
    width: 45.63rem;

    @include flex-center-space-between;
  }

  &__text-box {
    @media only screen and (max-width: 40.875em) {
      display: none;
    }
  }

  &__btn-box {
    width: 8.82rem;
    @media only screen and (max-width: 40.875em) {
      width: 100%;
    }
  }
}
