.title {
  margin-top: -2.5rem;
  width: 45.63rem;
  height: 8.75rem;
  padding-right: 2.688rem;
  border-radius: 0.38rem;
  background-color: $color-white;

  display: flex;
  align-items: center;

  @media only screen and (max-width: 40.88em) {
    width: 100%;
  }
  @media only screen and (max-width: 27.88em) {
    padding-right: 0;
    height: max-content;
    // width: 20.438rem;

    @include flex-d-column-center;
    justify-content: stretch;
  }

  &__logo-box {
    padding: 1.86rem;
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 0 0.38rem 0.38rem 0.38rem;
    background-color: #e99210;

    @include flex-center;

    @media only screen and (max-width: 27.88em) {
      padding: 0rem 0.3rem;
      width: 3.125rem;
      height: 3.125rem;

      border-radius: 0.94rem;

      margin-top: -1.5rem;
    }
  }

  &__body {
    margin-left: 2.5rem;

    @media only screen and (max-width: 27.88em) {
      text-align: center;
      margin-left: 0;
      margin-top: 1.5rem;
    }
  }

  &__link {
    margin-top: 0.813rem;
  }

  &__btn-box {
    width: 9.188rem;
    margin-left: auto;
    @media only screen and (max-width: 27.88em) {
      margin-top: 1.5rem;
      margin-left: 0;
      margin-bottom: 2.5rem;
    }
  }
}
