.btn {
  width: 100%;
  padding: 1rem 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 0.31rem;
  transition: all 250ms;
  cursor: pointer;

  &__primary-default {
    color: $color-white;
    background-color: $color-violet;
    &:hover {
      background-color: $color-light-violet;
    }
  }
  &__secondary-default {
    color: $color-violet;
    background-color: $color-very-very-light-violect;
    &:hover {
      background-color: $color-very-light-violect;
    }
  }
}
