.icon {
  width: 100%;
  height: 100%;
  object-fit: none;

  &-i {
    object-fit: contain;
  }

  &-dark-gray {
    fill: $color-dark-gray;
  }

  &-white {
    fill: $color-white;
  }

  &__sun-box {
    width: 1.25rem;
    height: 1.16rem;
  }

  &__moon-box {
    width: 0.75rem;
    // height: 0.75rem;
  }

  &__filter-box {
    margin-left: 1rem;
    width: 1.248rem;
    height: 1.25rem;
    @media only screen and (min-width: 40.875em) {
      display: none;
    }
  }

  &__search-box-s {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  &__company-box {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.94rem;
    background-color: #e99210;

    @include flex-center;

    position: relative;
    top: -1.5rem;
  }

  &__location-box {
    width: 1.1rem;
    height: 1.5rem;
  }

  &__search-box {
    width: 1.5rem;
    height: 1.5rem;
    @media only screen and (max-width: 41.38em) {
      display: none;
    }
  }
}
