.job-card {
  width: 21.88rem;
  height: 14.25rem;
  padding-left: 2rem;
  border-radius: 0.38rem;
  background-color: $color-white;
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: 0rem 1.5rem 0.5rem -28px $color-dark-gray;
  }

  @media only screen and (max-width: 40.875em) {
    width: 100%;
  }

  &__time-box {
    width: 9.19rem;

    @include flex-end-space-between;
  }

  &__body {
    width: 17.875rem;
    height: 9.188rem;
    display: flex;
    flex-direction: column;
  }

  &__country {
    font-size: 0.86rem;
  }
}
