.jobs {
  margin-bottom: 6.5rem;
  width: 69.375rem;
  //   height: 70.75rem;

  @include flex-d-column-center;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 4.1rem 1.875rem;
  }

  &__button-box {
    margin-top: 3.5rem;
    align-self: center;
    width: 8.813rem;
  }
}
