.jobs {
  margin-bottom: 6.5rem;
  width: 69.375rem;
  //   height: 70.75rem;

  @include flex-d-column-center;
  @media only screen and (max-width: 73.75em) {
    width: 100%;
  }

  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: start;

    gap: 4.1rem 1.875rem;

    @media only screen and (max-width: 73.75em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 40.875em) {
      grid-template-columns: 1fr;
    }
  }

  &__button-box {
    margin-top: 3.5rem;
    align-self: center;
    width: 8.813rem;
  }
}
