$default-text-size: 1rem;
$default-line-height: 1.6rem;

$toggle-width: 3rem;
$toggle-height: ($toggle-width/2);
$toggel-border-radius: ($toggle-height/ 2);

$overAll-width: 55rem;
$overAll-Width-t: 43.1rem;
$overAll-Width-s: 20.44rem;
