.check {
  &--box {
    position: relative;
  }
  &-icon {
    position: absolute;
    top: 0.4rem;
    left: 0.3rem;
    display: none;
  }
}

input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $color-light-gray;
  border-radius: 0.12rem;
  outline: none;
  transition: all 200ms ease-in-out;

  &:checked {
    background-color: $color-violet;
  }

  &:checked + .check-icon {
    display: block;
  }
}
